body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7rem;
  text-align: center;
  color: #eee;
  background-color: #eef0f1;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.trailer {
  z-index: 6;
  background-color: rgba(14, 25, 31, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .trailer .iframe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%; }
    .trailer .iframe-wrapper iframe {
      width: 84vw;
      height: 47.25vw;
      border: 0; }

.trailer-close-btn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  margin: 0 2rem;
  cursor: pointer; }

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 25, 31, 0.7);
  z-index: 4; }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 1100px;
  height: 550px;
  padding: 0;
  border-radius: 0.1rem;
  box-shadow: 0px 0px 20px 0px rgba(29, 53, 67, 0.7); }

.modal-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 366.6685px;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem; }

.modal-trailer {
  height: 140px;
  width: 400px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: height .2s;
  transition: height .2s; }

.modal-trailer:hover {
  height: 160px;
  cursor: pointer; }

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eef0f1;
  color: #152731;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

.modal-header {
  background-color: #1d3543;
  background: -webkit-linear-gradient(top, #327194 0%, #253c6e 100%);
  background: linear-gradient(to bottom, #327194 0%, #253c6e 100%);
  background: none;
  padding: 1.5rem 2rem 2.5rem 2rem;
  border-top-right-radius: 0.1rem; }
  .modal-header h1 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: normal; }
  .modal-header h2 {
    font-size: 1.3rem;
    margin: .5rem 0 0 0;
    font-weight: normal; }

.modal-close-btn {
  float: right;
  font-size: 3.5rem;
  margin-left: 1rem;
  cursor: pointer; }

.modal-close-btn:hover {
  cursor: pointer; }

.modal-year {
  color: #9aa5ab; }

.modal-plot {
  font-size: 1.25rem;
  line-height: 2rem;
  padding: .5rem 5rem .5rem 1.5em;
  width: 90%; }

.modal-facts {
  font-size: 1.25rem;
  padding: 0rem 5rem 0rem 1.5em;
  width: 90%; }
  .modal-facts p {
    margin: .3rem 0; }
  .modal-facts span {
    color: #9aa5ab; }

.modal-footer {
  font-size: 2rem;
  padding: 1rem 0;
  background-color: #1d3543;
  background: none;
  color: #152731;
  border-bottom-right-radius: 0.1rem; }
  .modal-footer img {
    margin-left: 1rem;
    height: 2.75rem;
    border-radius: 50%; }
  .modal-footer .modal-imdb-rating, .modal-footer .modal-metacritic-rating, .modal-footer .modal-rottentomatoes-rating {
    margin: 1rem 1.5rem; }

.modal-ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.container {
  display: block;
  margin: 2rem 2rem;
  text-align: center;
  width: 100vw; }

.filters {
  z-index: 2;
  overflow-y: scroll;
  overflow-x: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 400px;
  max-width: 100vw;
  height: 100%;
  background: #1d3543;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #327194 0%, #253c6e 100%);
  background: linear-gradient(to bottom, #327194 0%, #253c6e 100%);
  box-shadow: 0px 4px 10px 0px rgba(29, 53, 67, 0.6);
  -webkit-transform: translate(100px);
          transform: translate(100px); }
  .filters h2 {
    font-weight: normal;
    font-size: 1rem; }

.filters::-webkit-scrollbar-track {
  background: -webkit-linear-gradient(top, #327194 0%, #253c6e 100%);
  background: linear-gradient(to bottom, #327194 0%, #253c6e 100%);
  display: none; }

.filters::-webkit-scrollbar {
  width: 5px; }

.filters::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-color: #eef0f1; }

.filters-container {
  margin-top: 2rem;
  width: 80%; }
  .filters-container h2 {
    margin: 1rem 0 .3rem 0; }

.filters-close-btn {
  color: #eef0f1;
  z-index: 3;
  position: fixed;
  font-size: 3rem;
  padding: 1rem;
  top: 1rem;
  right: 0rem;
  cursor: pointer; }

.flex-grid {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 8rem 0rem 10rem 100px;
  padding: 0;
  width: 90%; }

.loading {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 420px;
  margin-top: -20rem; }

.spinner {
  display: none;
  width: 8rem;
  height: 8rem;
  background: #327194;
  background: -webkit-linear-gradient(bottom, #327194 0%, #253c6e 100%);
  background: linear-gradient(to top, #327194 0%, #253c6e 100%);
  background-size: 200% 200%;
  margin: 5rem auto;
  -webkit-animation: sk-rotateplane 2s infinite ease-in-out;
          animation: sk-rotateplane 2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: rotateZ(0deg) scale(0.65);
            transform: rotateZ(0deg) scale(0.65); }
  25% {
    -webkit-transform: rotateZ(90deg) scale(1);
            transform: rotateZ(90deg) scale(1); }
  50% {
    -webkit-transform: rotateZ(180deg) scale(0.65);
            transform: rotateZ(180deg) scale(0.65); }
  75% {
    -webkit-transform: rotateZ(270deg) scale(1);
            transform: rotateZ(270deg) scale(1); }
  100% {
    -webkit-transform: rotateZ(360deg) scale(0.65);
            transform: rotateZ(360deg) scale(0.65); } }

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: rotateZ(0deg) scale(0.65);
            transform: rotateZ(0deg) scale(0.65); }
  25% {
    -webkit-transform: rotateZ(90deg) scale(1);
            transform: rotateZ(90deg) scale(1); }
  50% {
    -webkit-transform: rotateZ(180deg) scale(0.65);
            transform: rotateZ(180deg) scale(0.65); }
  75% {
    -webkit-transform: rotateZ(270deg) scale(1);
            transform: rotateZ(270deg) scale(1); }
  100% {
    -webkit-transform: rotateZ(360deg) scale(0.65);
            transform: rotateZ(360deg) scale(0.65); } }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.search-bar {
  width: 100%;
  height: 1.5em;
  border-radius: 0.1rem;
  border: none;
  font-size: 1rem;
  padding: .2rem 1rem;
  margin: 1rem 0;
  background-color: #eef0f1;
  color: #222;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out; }

.search-bar:focus {
  outline: 0; }

.search-result-info {
  position: absolute;
  color: #1d3543;
  top: -4rem;
  left: 1.5rem; }
  .search-result-info h1 {
    font-size: 2rem; }

.content-type {
  width: 100%;
  margin: 1rem 0; }

.sort-options {
  width: 100%;
  margin: 1rem 0; }

.button {
  font-size: .8rem;
  display: inline-block;
  background-color: #447c9c;
  border-radius: 0.1rem;
  padding: .1rem .4rem .2rem .4rem;
  margin: .1rem .1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color, background-color .15s;
  transition: color, background-color .15s; }

.button:hover {
  background-color: #417794;
  cursor: pointer; }

.radiobutton-selected {
  background-color: #e9f1f5;
  color: #1d3543; }

.radiobutton-selected:hover {
  background-color: #f7fafc; }

.genres {
  width: 100%;
  margin: 1rem 0; }

.checkbox-selected {
  background-color: #e9f1f5;
  color: #1d3543; }

.checkbox-selected:hover {
  background-color: #f7fafc; }

.checkbox-deselected {
  background-color: #7d7d7d;
  background-color: #81385b; }

.checkbox-deselected:hover {
  background-color: #707070;
  background-color: #7a3556; }

.check-uncheck-all {
  background: none;
  display: block;
  color: #eef0f1;
  width: 60%;
  font-size: .8rem;
  display: inline-block;
  padding: .5rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.check-uncheck-all:hover {
  cursor: default; }

.checkbox:active {
  box-shadow: inset 0px 1px 5px 1px rgba(29, 53, 67, 0.2); }

.check-uncheck-all {
  width: 95%; }
  .check-uncheck-all span {
    font-size: .8rem;
    display: inline-block;
    border-radius: 0.1rem;
    padding: .1rem .4rem .2rem .4rem;
    margin: 0rem .1rem .1rem .1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.allowed {
  background-color: #447c9c; }

.selected {
  background-color: #e9f1f5;
  color: #1d3543; }

.deselected {
  background-color: #81385b; }

.sliders {
  text-align: left;
  width: 100%;
  margin-top: 1rem; }

.slider {
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: 1.75rem; }

.slider-label {
  margin: 1rem 0 1rem 0; }

.slider-range {
  float: right;
  font-size: .8rem;
  background-color: #447c9c;
  border-radius: 0.1rem;
  padding: .03rem .6rem .1rem .6rem; }

.noUi-target {
  background: #1d3543;
  border: 0;
  box-shadow: none;
  top: 0.25rem;
  height: 0.5rem; }

.noUi-base {
  border: 0;
  top: -0.5rem;
  height: 1.5rem; }

.noUi-origin {
  margin-top: 0.5rem; }

.noUi-handle {
  background-color: #eee;
  box-shadow: none;
  border: 0;
  border-radius: 50%;
  width: 1rem !important;
  height: 1rem !important;
  left: 0 !important;
  top: -0.25rem !important; }

.noUi-connect {
  box-shadow: none;
  background-color: #447c9c;
  height: 0.5rem;
  margin-top: 0.5rem; }

.noUi-handle:before,
.noUi-handle:after {
  display: none; }

.noUi-horizontal.noUi-extended {
  padding-right: 16px;
  /* was 32 */ }

.noUi-horizontal.noUi-extended .noUi-handle {
  left: -1px; }

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -32px; }

.card {
  margin: .75rem;
  margin: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200.01px;
  height: 300px;
  border-radius: 0.1rem;
  background-size: cover;
  background-position: center center;
  background-color: #1d3543;
  box-shadow: 0px 3px 20px 0px rgba(29, 53, 67, 0.4);
  -webkit-transition-duration: 0s;
          transition-duration: 0s; }

.card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  color: #eee;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  border-radius: 0.1rem;
  font-weight: bold;
  -webkit-transition: width, height .1s;
  transition: width, height .1s; }

.info-button {
  font-size: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #1d3543;
  background: -webkit-linear-gradient(bottom, rgba(37, 60, 110, 0) 0%, #447c9c 95%);
  background: linear-gradient(to top, rgba(37, 60, 110, 0) 0%, #447c9c 95%);
  color: #eef0f1;
  text-shadow: 1px 1px 15px #1d3543;
  text-transform: uppercase;
  padding: .5rem .5rem .5rem .5rem;
  height: 3rem;
  border-top-right-radius: 0.1rem;
  border-top-left-radius: 0.1rem;
  cursor: pointer;
  letter-spacing: normal;
  -webkit-transition: letter-spacing .3s;
  transition: letter-spacing .3s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.info-button:hover {
  letter-spacing: 2px; }

.card-trailer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  height: 110px;
  width: 50%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: height .3s;
  transition: height .3s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.card-trailer:hover {
  height: 125px;
  cursor: pointer; }

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  background-color: #1d3543;
  background: -webkit-linear-gradient(top, rgba(37, 60, 110, 0) 0%, #327194 95%);
  background: linear-gradient(to bottom, rgba(37, 60, 110, 0) 0%, #327194 95%);
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  color: #eef0f1;
  text-shadow: 0px 1px 15px #1d3543;
  height: 3rem;
  line-height: 3rem;
  border-bottom-right-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem; }
  .ratings img {
    height: 1.5rem;
    margin-top: .8rem;
    margin-right: .5rem;
    border-radius: 50%;
    box-shadow: 0px 1px 10px 0px #1d3543; }

.imdb-rating {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tomato-rating {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/*# sourceMappingURL=style.css.map */
