$height: 18vw;
$min-height: 350px;
$width: $height * 0.6667;
$min-width: $min-height * 0.6667;
$modal-height: 550;
$max-modal-width: 700px;
$item-info-height: 550;
$filter-menu-width: 350px;
$card-border-radius: .5rem;


$black: #222;
$primary: saturate(#212e3b, 10%);
// $primary: #2f3b21;
// $primary: #324558;
$dark-primary: darken($primary, 5%);
$light-primary: lighten($primary, 20%);
$lighter-primary: lighten($primary, 75%);
$secondary: adjust-hue($light-primary, 150%);
$primary-gradient: saturate(lighten($primary, 10%), 10%);
$secondary-gradient: saturate(adjust-hue(lighten($primary, 9%), 10%), 10%);
// $secondary-gradient: saturate(adjust-hue(lighten($secondary, 10%), -20%), 30%);
$white: #eee;
$card-menu: $primary;

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    color: $white;
    background-color: $lighter-primary;
}

.trailer {
    z-index: 6;
    background-color: transparentize(darken($dark-primary, 5%), .1);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transition: display .2s;

    .iframe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;

        iframe {
            width: 84vw;
            height: 47.25vw;
            border: 0;
        }
    }
}

.trailer-close-btn {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    margin: 0 2rem;
    cursor: pointer;
}

.item-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    // margin-left: $filter-menu-width;
    z-index: 4;
    align-items: center;
    justify-content: center;
}

.item-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 60vw;
    // max-width: calc($max-modal-width + #{$item-info-heigh} * 0.6667px);
    height: $item-info-height * 1.5px;
    padding: 0;
    box-shadow: 0px 0px 20px 0px transparentize($primary, .3);
    background-color: green;
    z-index: 4;
}

.item-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $item-info-height * 1px;
    background-color: $lighter-primary;
    color: $primary;
}

.item-picture {
    display: flex;
    width: $item-info-height * 0.6px;
    min-width: 200px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
    width: 55%;
    height: 90%;
}

.item-title {
    font-size: 3rem;
}

.item-plot {
    font-size: 1.3rem;
}

.item-facts {
    font-size: 1.3rem;
}

.item-lower {
    flex-direction: row;
    width: 100%;
    height: $item-info-height * 0.5px;
    background-color: $primary-gradient;
    color: $white;
}

.modal-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(darken($dark-primary, 5%), .3);
    z-index: 4;
}


.modal {
    display: flex;
    text-align: left;
    align-items: stretch;
    // width: calc(36% + #{$modal-height} * 0.6667px);
    // max-width: calc($max-modal-width + #{$modal-height} * 0.6667px);
    width: $modal-height * 2px;
    height: $modal-height * 1px;
    padding: 0;
    border-radius: $card-border-radius;
    box-shadow: 0px 0px 20px 0px transparentize($primary, .3);
}

.modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $modal-height * 1px;
    width: $modal-height * 0.6667px;
    border-top-left-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
}

.modal-trailer {
    height: 140px;
    width: 400px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: height .2s;
}

.modal-trailer:hover {
    height: 160px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $lighter-primary;

    color: $dark-primary;
    border-top-right-radius: $card-border-radius + .1rem;
    border-bottom-right-radius: $card-border-radius + .1rem;

}

.modal-header {
    background-color: $primary;
    background: linear-gradient(to bottom,  $primary-gradient 0%, $secondary-gradient 100%);
    background: none;
    // color: $lighter-primary;
    padding: 1.5rem 2rem 2.5rem 2rem;
    border-top-right-radius: $card-border-radius;


    h1 {
        font-size: 2.2rem;
        margin: 0;
        font-weight: normal;
    }

    h2 {
        font-size: 1.3rem;
        margin: .5rem 0 0 0;
        font-weight: normal;

    }
}

.modal-close-btn {
    float: right;
    font-size: 3.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.modal-close-btn:hover {
    cursor: pointer;
}

.modal-year {
    color: darken($lighter-primary, 30%);
}

.modal-plot {
    font-size: 1.25rem;
    line-height: 2rem;
    padding: .5rem 5rem .5rem 1.5em;
    width: 90%;
}

.modal-facts {
    font-size: 1.25rem;
    padding: 0rem 5rem 0rem 1.5em;
    width: 90%;
    p {
        margin: .3rem 0;
    }
    span {
        color: darken($lighter-primary, 30%);
    }
}

.modal-footer {
    font-size: 2rem;
    padding: 1rem 0;
    background-color: $primary;
    // background: linear-gradient(to bottom,  $primary-gradient 0%,$secondary-gradient 100%);
    background: none;
    color: $dark-primary;
    border-bottom-right-radius: $card-border-radius;
    img {
        margin-left: 1rem;
        height: 2.75rem;
        border-radius: 50%;
    }

    .imdb-logo {
    }

    .modal-imdb-rating, .modal-metacritic-rating {
        margin: 1rem 1.5rem;
    }
}

.modal-ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: block;
    margin: 2rem 2rem;
    text-align: center;
}

.filters {
    h2 {
        font-weight: normal;
        font-size: 1rem;
    }
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: $filter-menu-width;
    height: 100%;
    padding: 2rem;
    background: $primary; /* Old browsers */
    background: linear-gradient(to bottom,  $primary-gradient 0%,$secondary-gradient 100%);
    box-shadow: 1px 0px 20px 0px transparentize($primary, .6);


}

.filters-container {
    width: 90%;
    h2 {
        margin: 1rem 0 .3rem 0;
    }
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: $filter-menu-width + 40px;
}

.loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: $filter-menu-width + 40px;
}

.spinner {
    display: none;
    width: 8rem;
    height: 8rem;
    background: $primary-gradient;
    background: linear-gradient(to top, $primary-gradient 0%,$secondary-gradient 100%);
    background-size: 200% 200%;
    margin: 5rem auto;
    animation: sk-rotateplane 2s infinite ease-in-out;

}

@keyframes sk-rotateplane {
  0% {
      transform: rotateZ(0deg) scale(.65);

  } 25% {
      transform: rotateZ(90deg) scale(1);

    } 50% {
        transform: rotateZ(180deg) scale(.65);

    } 75% {
        transform: rotateZ(270deg) scale(1);

    } 100% {
        transform: rotateZ(360deg) scale(.65);

    }
}

$slider-width: 1.5rem;
$slider-height: .5rem;
$slider-touch-height: 1.5rem;

.search {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 100%;
    height: 2em;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    padding: .3rem 1rem;
    margin: 1rem 0;
    background-color: $lighter-primary;
    color: $black;
    transition: height 0.4s ease-in-out;
}

.search-bar:focus {
    outline: 0;
}

.search-results {
    display: none;
    position: relative;
    width: 100%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-size: 1rem;
    padding: .2rem .5rem;
    // height: 100px;
    margin: 0;
    top: -2rem;
    background-color: $lighter-primary;
    color: $black;
}

.content-type {
    width: 100%;
    margin: 1rem 0;
}

.sort-options {
    width: 100%;
    margin: 1rem 0;
}

.button {
    font-size: .8rem;
    display: inline-block;
    background-color: $light-primary;
    border-radius: .5rem;
    padding: .45rem .55rem .5rem .55rem;
    margin: .2rem;
    user-select: none;
    transition: color, background-color .15s;
}

.button:hover {
    background-color: darken($light-primary, 2%);
    cursor: pointer;
}

.radiobutton-selected {
    background-color: lighten($light-primary, 50%);
    color: $primary;
}

.radiobutton-selected:hover {
    background-color: lighten($light-primary, 54%);
}

.genres {
    width: 100%;
    margin: 1rem 0;
}



.checkbox-selected {
    background-color: lighten($light-primary, 50%);
    color: $primary;
}

.checkbox-selected:hover {
    background-color: lighten($light-primary, 54%);
}

.checkbox-deselected {
    background-color: lighten(desaturate($light-primary, 100%), 5%);
    background-color: $secondary;
}

.checkbox-deselected:hover {
    background-color: desaturate($light-primary, 100%);
    background-color: darken($secondary, 2%);
}

.check-uncheck-all {
    background: none;
    display: block;
    color: $lighter-primary;
    width: 60%;
    font-size: .8rem;
    display: inline-block;
    border-radius: .5rem;
    padding: .45rem 1rem .5rem 1rem;
    margin: .2rem auto;
    user-select: none;
    // transition: color, background-color .15s;
}

.check-uncheck-all:hover {
    cursor: default;
}

.checkbox:active {
    box-shadow: inset 0px 1px 5px 1px transparentize($primary, .8);
}

.check-uncheck-all {
    width: 95%;
    margin: .5rem auto;
    span {
        border-radius: .5rem;
        padding: .25rem .55rem .3rem .55rem;
        // padding: .1rem .5rem .2rem .5rem;
        margin: 0 .1rem;
    }
}

.allowed {
    background-color: $light-primary;
}

.selected {
    background-color: lighten($light-primary, 50%);
    color: $primary;
}

.deselected {
    background-color: $secondary;
}


.sliders {
    width: 100%;
    // text-align: left;
    margin: 2rem 0;
}

.slider {
    // min-width: $width;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.slider-label {
    margin: 1rem 0 1rem 0;
}

.noUi-tooltip {
    position:fixed;
    top: 1.7rem;
    height: 1.7rem;
    border: 0;
    border-radius: .5rem;
    text-align: center;
    background: $light-primary;
    color: $white;
    font-size: 1rem;
    padding: .2rem .5rem .3rem .5rem;
}



.noUi-target {
    background: $primary;
    border: 0;
    box-shadow: none;
    top: .5 * $slider-height;
    height: $slider-height;
}

.noUi-base {
    // background: rgba(255, 0, 255, .05);
    border: 0;
    top: -(1 * $slider-height); // 3 is slider-touch-height
    height: $slider-touch-height;
}

.noUi-origin {
    margin-top: $slider-touch-height - ($slider-height * 2);
}

.noUi-handle {
    background-color: $white;
    box-shadow: none;
    border: 0;
    border-radius: 50%;
    width: $slider-width !important;
    height: $slider-width !important;
    left: 0 !important;
    top: -$slider-width / 3 !important;
}

.noUi-connect {
    box-shadow: none;
    background-color: $light-primary;
    height: $slider-height;
    margin-top: $slider-touch-height - ($slider-height * 2);
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

.noUi-horizontal.noUi-extended { padding-right: 16px; /* was 32 */ }
.noUi-horizontal.noUi-extended .noUi-handle { left: -1px; }
.noUi-horizontal.noUi-extended .noUi-origin  { right: -32px; }

.card {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: row;
    width: $width !important;
    height: $height;
    min-width: $min-width !important;
    min-height: $min-height;
    border-radius: $card-border-radius;
    background-size: cover;
    background-position: center center;
    background-color: $primary;
    box-shadow: 0px 3px 20px 0px transparentize($primary, .6);
}

.card-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: $height;
    width: 100%;
    min-height: $min-height;
    color: $white;
    user-select: none;
    cursor: default;
    border-radius: $card-border-radius;
    font-weight: bold;
}

.info-button {
    font-size: 1.3rem;
    align-items: flex-start;
    background-color: $card-menu;
    background: linear-gradient(to top, transparentize($secondary-gradient, 1) 0%, $light-primary 95%);

    // background-color: transparentize($primary, .2);
    // border-bottom: 1px solid transparentize($primary, .9);
    color: $lighter-primary;
    text-shadow: 1px 1px 15px $primary;

    text-transform: uppercase;
    padding: .5rem .5rem .5rem .5rem;
    height: 3rem;
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;
    cursor: pointer;
    letter-spacing: normal;
    transition: letter-spacing .3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.info-button:hover {
    letter-spacing: 2px;
}

.card-trailer {
    align-items: center;
    height: 110px;
    height: 110px;
    width: 50%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: height .3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card-trailer:hover {
    height: 125px;
    cursor: pointer;
}


.ratings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.3rem;
    background-color: $card-menu;
    // background: linear-gradient(to bottom,  $light-primary 0%,$secondary-gradient 100%);

    background: linear-gradient(to bottom, transparentize($secondary-gradient, 1) 0%, $primary-gradient 95%);
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    // background-color: transparentize($primary, .2);
    // border-top: 1px solid transparentize($primary, .9);
    color: $lighter-primary;
    text-shadow: 1px 1px 15px $primary;

    height: 3rem;
    line-height: 3rem;
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
    img {
        height: 2rem;
        margin-top: .5rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
}

.imdb-rating {
    align-items: flex-start;
}

.tomato-rating {
    align-items: flex-end;
}
