$height: 400px;
$width: $height * 0.6667;
$modal-height: 550;
$max-modal-width: 700px;

$black: #222;
$primary: #202932;
$dark-primary: darken($primary, 5%);
$light-primary: lighten($primary, 20%);
$secondary: complement($primary);
$white: #eee;
$card-menu: transparentize(lighten($primary, 5%), .05);


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    color: $white;
    background-color: $primary;
}

.trailer {
    z-index: 2;
    background-color: rgba(0, 0, 0, .95);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: display .2s; /* Safari */
    transition: display .2s;

    .iframe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;

        iframe {
            width: 90%;
            height: 90%;
            border: 0;
        }
    }
}

.trailer-close-btn {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    margin: 0 2rem;
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    background-color: $secondary;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.modal {
    z-index: 1;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: stretch;
    margin: 10% auto;
    padding: 0;
    width: 80%;
    height: $modal-height * 1px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: $modal-height * 1px;
    width: $modal-height * 0.6667px;
}

.modal-trailer {
    height: 140px;
    width: 400px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
}

.modal-trailer:hover {
    height: 160px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary;
    width: 50%;
    max-width: $max-modal-width;
}

.modal-header {
    background-color: $dark-primary;
    padding: 1rem 2rem;

    h1 {
        font-size: 2.2rem;
        margin: 0;
    }

    h2 {
        font-size: 1.3rem;
        margin: .5rem 0 0 0;
    }
}

.modal-close-btn {
    float: right;
    font-size: 3.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.modal-close-btn:hover {
    cursor: pointer;
}

.modal-year {
    color: $light-primary;
}

.modal-plot {
    font-size: 1.3rem;
    line-height: 2rem;
    padding: .5rem 5rem .5rem 1.5em;
    width: 90%;
}

.modal-facts {
    font-size: 1.3rem;
    padding: 0rem 5rem 0rem 1.5em;
    width: 90%;
    p {
        margin: .3rem 0;
    }
    span {
        color: desaturate(lighten($light-primary, 20%), 5%);
    }
}

.modal-footer {
    font-size: 2rem;
    background-color: $dark-primary;
    // align-items: flex-end;
    // height: 5rem;
    // line-height: 5rem;
    img {
        // position: relative;
        margin-left: 1rem;
        // top: .75rem;
        height: 2.75rem;
        // margin-top: .7rem;
    }
    .modal-imdb-rating, .modal-metacritic-rating {
        margin: 1rem 1.5rem;
    }
}

.modal-ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    margin: 10rem 2rem;
    text-align: center;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: .75rem .75rem;
    display: flex;
    flex-direction: row;
    width: $width !important;
    height: $height;
    background-size: cover;
    background-position: center center;
    background-color: $dark-primary;
}

.card-menu {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: $height;
    width: 100%;
    // background-color: rgba(0, 0, 100, .6);
    color: $white;
    user-select: none;
    cursor: default;
    font-weight: bold;
}

.info-button {
    font-size: 1.3rem;
    align-items: flex-start;
    background-color: $card-menu;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
}

.card-trailer {
    align-items: center;
    height: 110px;
    width: 50%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
}

.card-trailer:hover {
    height: 130px;
    cursor: pointer;
}


.ratings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.3rem;
    background-color: $card-menu;
    height: 3rem;
    line-height: 3rem;
    img {
        height: 2rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }
    .imdb-rating {
        margin-right: 2rem;
    }
}

.imdb-rating {
    align-items: flex-start;
}

.tomato-rating {
    align-items: flex-end;
}
